@keyframes opacityAppearance {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(100);
  }
}

.hero-header {
  max-width: 100%;
  height: 100vh;
  background: url(../assets/images/heroheadercover.jpg) no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.247);
  background-blend-mode: darken;
  background-size: cover;
  padding: 2% 4% 0 4%;

}

.hero-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media screen and (max-width: 1024px) {
  .hero-header {
    background-image: url(../assets/images/heroheadercover-tablet.jpg);


  }
  .hero-header-title {
    font-size: 110px;  
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-header {
    padding: 0;
    background-image: url(../assets/images/heroheadercover-responsive.jpg);
    background-attachment: scroll;
  }

  .hero-header-title {
    font-size: 45px;  
  }
}
